
body {
  margin: 0;
  background: black;
  color:white;

  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.test {
  background-color: red;
}

.container {
  max-width: 750px;
  margin: auto;
}

.elements {
  font-size: 32px;
  cursor: pointer;
}